VITE_SUPABASE_URL=http://supabasekong-dogkgo08sgok48skg0oscg04.31.97.20.52.sslip.io
VITE_SUPABASE_ANON_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3MzI3Mjk0MCwiZXhwIjo0OTI4OTQ2NTQwLCJyb2xlIjoiYW5vbiJ9.Wjw2LugRkv6zLbLIJJATiV8SCn7GR4PPaWDXi_wAR48
VITE_ADMIN_USERNAME=admin
VITE_ADMIN_PASSWORD=1234
VITE_ADMIN_DISPLAY_NAME=Administrador Geral
VITE_TELEGRAM_BOT_TOKEN=
